<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JT-LAB</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<!--팝업창크기는 css/magnific-popup.css에 mfp-iframe-scaler2 클래스에 지정되어있음-->
<body>
<% include include/nav.ejs %>

<div id="fh5co-about-section">
    <div id="contentDiv">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2><%=product.pname%></h2>
                <p>준비중...</p>

                <!-- 일반회원 기본 노출 -->
                    <table  border="0" cellspacing="0" width="100%" class="table_style11">
                        <tr>
                            <td>
                                <div id="desc"><%-product.pdesc.replace(/\n/g, "\n")%></div>
                            </td>
                        </tr>
                    </table>
                <!-- #personInfo -->

            </div>
         </div><hr/>
        <!-- 게시판 -->
        <div id="board" style="width: 70%; margin: 0 auto;">
            <form name="frm" id="frm" method="post" class="form-horizontal">
                <input type="hidden" id="pNo" name="pNo" value="<%=product.pno%>"/>
                <input type="hidden" id="content" name="content" value=""/>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label for="title">제목</label>
                        </td>
                        <td>
                            <input type="text" name="title" id="title" class="form-control" value="" size="80"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="writer">작성자</label>
                        </td>
                        <td>
                            <input type="text" name="writer" id="writer" class="form-control" value="<%=session.usrName%>" size="80" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="editBox">글 내용</label>
                        </td>
                        <td>
                            <textarea id="editBox" name="editBox" class="form-control" style="width:800px; height:600px"></textarea>
                        </td>
                    </tr>
                </table>
                <p class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <input type="button" id="submitBtn" name="submitBtn" class="btn btn-default" value="전송"/>&nbsp;
                    <input type="button" id="prevBtn" name="prevBtn" class="btn btn-default" value="이전화면"/>
                </div>
                </p>
            </form>
        </div>
        <!-- 게시판 -->
    </div>
</div>
    <% include include/footer.ejs %>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
<!-- countTo -->
<script type="text/javascript" src="/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/magnific-popup-options.js"></script>
<!-- chkeditor -->
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<!-- Main -->
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">
var pNo = '<%=product.pno%>';

    $(document).ready(function() {
        CKEDITOR.replace("editBox");

        $("#submitBtn").on('click', function() {
            var content = CKEDITOR.instances.editBox.getData();

            // 제목 체크.
            if($("#title").val()==null || $("#title").val()=="") {
                alert("제목을 입력하여 주세요");
                $("#title").focus();
                return false;
            }
            // 글내용 체크.
            if(content=="" || content=="") {
                alert("내용을 입력하여 주세요");
                $("#content").focus();
                return false;
            }

            $("#content").val(content);
            $("#frm").attr("action","/products/insert");
            $("#frm").submit();
        });
        $("#prevBtn").on('click', function() {
            location.href = "/products/"+pNo;
        });

    });
// btn Event
function onView(no) {
    location.href = '/products/'+pNo+'/view/'+no;
}
</script>
</body>
</html>
