<% layout('../../admin/layout') -%>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // console.
            console.log("on READY");
            $("#prevBtn").on('click', function() {
               location.href = '/admin';
            });
            $("#loginBtn").on("click", function () {
                location.href = './login';
            });
            $("#logoutBtn").on("click", function () {
                location.href = '/login/logout';
            });
            $("#signupBtn").on("click", function () {
                location.href = '/signup';
            });
            // 검색 엔터키 이벤트 처리.
            $("#srchText").on("keypress", function(e) {
                if(e.which == 13) {
                    $("#srchBtn").click();
                    return false;
                }
            });

            // 검색버튼 이벤트 처리.
            $("#srchBtn").on("click", function(e) {
                e.preventDefault();
                var selectedVal = $("#srchType option:selected").val();

                // 선택박스 체크.
                if(selectedVal == null || selectedVal == "") {
                    alert("검색할려는 항목을 선택하여 주세요.");
                    $("#srchType").focus();
                    return false;
                }
                // 검색할 텍스터 체크.
/*
                if($("#srchText").val() == null || $("#srchText").val() == "") {
                    alert("검색 단어을 입력하여 주세요.");
                    $("#srchText").focus();
                    return false;
                }
*/
                var srchText = $.trim($("#srchText").val());
                // 전송 처리.
                $("#srchType").val(selectedVal);
                $("#srchText").val(srchText);
                $("#searchForm").attr("method","post");
                $("#searchForm").attr("action","/admin/visit/search");
                $("#searchForm").submit();
            });
        });
        // callback
        function callback() {
            location.href = "/admin/visit";
        }
    </script>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">접속 관리 화면</h1>
        </div>
        <form id="searchForm" name="searchForm" method="post">
            <div class="form-group text-right form-inline">
                <div class="form-group">
                    <select id="srchType" name="srchType" class="form-control">
                        <option value="">선택하세요.</option>
                        <option value="title" <%if(srchType=="title") {%> selected <% }%>>제목</option>
                        <option value="writer" <%if(srchType=="writer") {%> selected <% }%>>작성자</option>
                    </select>
                </div>
                <div class="input-group custom-search-form">
                    <input type="text" id="srchText" name="srchText" class="form-control" value="<%=srchText%>" size="20" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="srchBtn" name="srchBtn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </div>
        </form>
    </div>
<form id="frm" name="frm">
<table width="100%" border="0" class="table table-hover table-striped">
    <tr>
        <th>번호</th>
        <th>분류</th>
        <th>화면</th>
        <th>아이디</th>
        <th>접속일</th>
        <th>ip</th>
    </tr>
    <%
        //console.log("board size : " + board.length);
        if(board.length > 0) {
            board.forEach(function(item, index) {
    %>
    <tr>
        <td><%=item.cno%></td>
        <td><%=item.cview%></td>
        <td><%=item.cpage%></td>
        <td><%=item.cid%></td>
        <td><%=item.cinDate%></td>
        <td><%=item.cip%></td>
    </tr>
    <%
            })
        } else {
     %>
    <tr>
        <td colspan="6" align="center">
            No Data
        </td>
    </tr>
    <%
            }
    %>
</table>
    <!-- 페이징 처리 부분 -->
    <p id="page" align="center">
<%
    console.log(">>> maxPage = " + maxPage);
    for(var x=1; x<=maxPage;x++) {
        if(x <= offset || x > maxPage - offset || (x >= page-(offset-1) && x <= page+(offset-1))) {
            if(x != page) {
                console.log(">>> * ["+x+"] page = " + page);
%>
        [<a href="/admin/visit?page=<%=x%>&srchType=<%=srchType%>&srchText=<%=srchText%>"><%=x%></a>]
<%
            } else {
                console.log(">>> ["+x+"] page = " + page);
%>
        [<b><%=x%></b>]
<%
            }
        } else if(x == offset+1 || x == maxPage-offset) {
%>
        ...
<%
        }
    }
%>
    </p>
    <!-- 페이징 처리 부분 -->
    <p align="right">
        <input type="button" id="prevBtn" name="prevBtn" class="btn btn-default" value="메인 화면"/>
    </p>
</form>
</div>